<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D in Computer Science</h1>
            <span>Georgia Institute of Technology</span>
            <span><address>Atlanta, US</address><time>2017 to Present</time></span>
        </header>

    </article>
    <article>
        <header>
            <h1>B.S. in Computer Science</h1>
            <span>Shanghai Jiao Tong University</span>
            <span><address>Shanghai, China</address><time>2013 to 2017</time></span>
        </header>
        <p>
            <em>Thesis: A Secure and Efficient Key Extraction Mechanism Based on Indoor Geomagnetic Field</em>
        </p>
    </article>

</section>
