<section class="thirteen columns">
    <h1>About Me</h1>
    <article>
        <p>I am currently a first-year Ph.D student in Georgia Tech.
            I received my B.S. degree in Computer Science from Shanghai Jiao Tong University in June 2017.</p>
        <p>My research interests are in the area of security and privacy, with special emphasis on
        key extraction and security problems about voice recognition. I proposed a rotation-angle-based algorithm
            and a roulette algorithm to use geomagnetic field for key extraction. Now I am particularly
        interested in addressing potential treats in voice recognition systems.</p>
    </article>
</section>