<section class="thirteen columns">
    <h1>Selected Projects</h1>
    <article>
        <header>
            <h1>Disease Identification Modeling Based on Machine Learning</h1>
            <span><address>SJTU</address><time>2016</time></span>
        </header>
        <li>Devised a composite disease identifying algorithm for condition specific genes by incorporating feature selection, dimensionality reduction and classification (adopting PCA, SVM, etc.).</li>
        <li>Evaluated with acute myeloid leukemia genomic samples and achieved results with high accuracy (95.5%). </li>
    </article>
    <article>
        <header>
            <h1>Large-Scale Patent Classification</h1>
            <span><address>SJTU</address><time>2016</time></span>
        </header>
        <li>Trained a supervised-learning classification model on 110,000 samples with a feature of 5,000 dimensions using LIBLINEAR. And the training and predicting process are parallelized with OpenMP to speed up.</li>
        <li>Implemented a Min-Max Modular and gained a high accuracy (92.9%).</li>
    </article>
    <article>
        <header>
            <h1>Android Based Car Controlling</h1>
            <span><address>SJTU</address><time>2015</time></span>
        </header>
        <li>Developed a small car based on SCM MSP430 with a smartphone on it to transmit back real-time video in the front of the car.</li>
        <li>Built an app on Android to control the car with voice, gestures or buttons.</li>
    </article>
    <article>
        <header>
            <h1>Advanced MIPS CPU Simulator with Multi-Cycle/Pipeline</h1>
            <span><address>SJTU</address><time>2015</time></span>
        </header>
        <li>Devised the simulator of each CPU component (including Memory, ALU, etc.) in C++ and connected them into advanced MIPS CPU simulators with multi-cycle and pipeline.</li>
        <li>Implemented the multi-cycle CPU Simulator on a Xilinx Experiment Board in Verilog HDL.</li>
    </article>

</section>
