<section class="thirteen columns">
    <h1>Research Experience</h1>
    <article>
        <header>
            <h1>Secret Key Extraction from Indoor Geomagnetic Field</h1>
            <span><address>SJTU</address><time>2015 to 2016</time></span>
        </header>
        <li>Analyzed the space-varying and time-varying characteristics of indoor geomagnetic field with extensive measurements and observations (Roughly 2000 samples collected by smartphones in a laboratory).</li>
        <li>Proposed a rotation-angle-based quantification algorithm targeting the time stamp, corresponding to the largest rotational angle of smartphones. This algorithm uses the 3-Dimension information of the magnetic field and has a high bit rate (approximately 200 bit/s).</li>
        <li>Built MAGIK, a system that can extract the identical secure key between two smartphones under the presence of the malicious eavesdropper, and achieved a high authentication accuracy (91.2%).</li>
        <li>Implemented the system on Nexus 7. Experiment results confirmed that our system was efficient in key extraction rate and robust in key establishment without additional overhead on mobile devices.</li>
        <li>Summarized the work into a paper which was accepted in INFOCOM'17.</li>
    </article>


</section>
